:root {
    --add-color: #898121;
    --background-color: #FFD56F;
    --field-color: #F7F1E5;
    --text-color: #343434;
    --delete-color: #820000;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

form {
    display: table;
    margin: auto;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
    background-color: var(--field-color);
}

ul {
    list-style-type: none;
}

.add-container {
    text-align: center;
}

.add-button {
    margin: auto;
    width: 30%;
    border-radius: 10px;
    background-color: var(--add-color);
    color: var(--background-color)
}

.numbers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-button {
    margin: auto;
    width: 30%;
    border-radius: 10px;
    background-color: var(--delete-color);
    color: var(--background-color);
}

.delete-container {
    text-align: center;
}
