:root {
    --primary-color: #E7B10A;
    --secondary-color: #898121;
    --background-color: #FFD56F;
    --field-color: #F7F1E5;
    --text-color: #343434;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

form {
    display: table;
    margin: auto;
}

p {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
    background-color: var(--field-color);
}

ul {
    list-style-type: none;
}

.numbers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
